@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body, html{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 12pt;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

/* Grid layout for home page (NavBar / Header / Main) */
.parent {
  display: grid;
  grid-template-columns: 0.75fr repeat(4, 1fr);
  grid-template-rows: 0.25fr repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
  }  
  .header { grid-area: 1 / 1 / 2 / 6; }
  .navbar { grid-area: 2 / 1 / 6 / 2; }
  .main { grid-area: 2 / 2 / 6 / 6; }

/* Dashboard Grid*/
.DashboardGridParent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  width: 100%;
  height: 100%;

  .DashboardChildren01 { grid-area: 1 / 1 / 2 / 2; }
  .DashboardChildren02 { grid-area: 1 / 2 / 2 / 3; }
  .DashboardChildren03 { grid-area: 1 / 3 / 2 / 4; }
  .DashboardChildren04 { grid-area: 1 / 4 / 2 / 5; }
  .DashboardChildren05 { grid-area: 2 / 1 / 6 / 3; }
  .DashboardChildren06 { grid-area: 2 / 3 / 6 / 5; }

  .DashboardInformativeBox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .25rem;
    border-radius: .75rem;

    h1{
      font-size: 1.5rem;
      font-weight: 900;
    }
    p{
      font-size: 1rem;
      font-weight: 300;
    }
  }
  .DashboardTableParent, .DashboardChartParent{
    background-image: url('../public/icons/abstract-background-pattern.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: .75rem;
    padding: 1.5rem;

    h1{
      font-size: 1.5rem;
      font-weight: 900;
    }
  }
  
  }

  .DashboardBackgroundPattern, .PropertiesBackgroundPattern, .AddPropertyBackgroundPattern{
    background-image: url('../public/icons/dashboard-background-pattern.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .AddPropertyForm{
      background: rgba( 255, 255, 255, 0.25 );
      box-shadow: 0 8px 32px 0 rgba(8, 36, 21, 0.37);
      border-radius: 10px;
      border: 1px solid rgba( 255, 255, 255, 0.18 );
  }


